* {
    font-family: 'Roboto Condensed', sans-serif;
    /* color: #8c8c8c; */
    color: white;
}

body {
    /* background-color: #2D3334; */
    background-image: url('images/backgroundDarkMode2.jpg');
    color: black;
    text-shadow: 0px 0px 4px #141314;
}

a {
    display: block;
    color: rgb(140, 140, 140);
    text-decoration: underline
}

#yuppa5 {
    z-index: -50;
    position: fixed;
    height: 100%;
    width: 100%;
}

#benchmarkVideo {
    max-width: 30%;
    height: auto;
}

.box {
    padding: 10px 5px 10px 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-backdrop-filter: blur(10px);
    /* Safari 9+ */
    backdrop-filter: blur(5px);
    /* Chrome and Opera */
    border-radius: 8px;
    background-color: rgba(51, 51, 51, 0.3);
}

.textBox {
    padding: 2px 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mainText,
.normalLink {
    /* color: rgb(140, 140, 140); */
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}

.logos {
    max-width: 40%;
    padding: 0px 0px;
}

.video-fluid {
    max-width: 100%;
}

.projectLanguage {
    width: 38px;
    float: right;
}

.codeDiv {
    font-family: "Lucida Console", Monaco, monospace;
    color: #8c8c8c;
    text-shadow: none;
}

code {
    color: rgb(103, 145, 158);
}

.writeup {
    text-shadow: none;
    color: black;
}