* {
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-color: #2D3334;
    color: black;
}

a {
    display: block;
    color: rgb(22, 116, 83);
}

#fancyBackground {
    z-index: -5;
    position: fixed;
}

#benchmarkVideo {
    max-width: 30%;
    height: auto;
}

.box {
    padding: 10px 5px 10px 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.textBox {
    padding: 2px 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logos {
    max-width: 40%;
    padding: 0px 0px;
}

.video-fluid {
    max-width: 100%;
}

.projectLanguage {
    width: 38px;
    float: right;
}