table {
    margin: auto;
    /* border: 2px solid black; */
    border-collapse: collapse;
    /* background-color: #1e1f30; */
}

body {
    /* background-image: url("wallpaper1.jpg"); */
    font-family: 'Roboto Condensed', sans-serif;
    background-size: cover;
    background-color: #2D3334;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    color: #bfbfc7;
    z-index: 100;
}

a {
    color: rgb(22, 116, 83);
}

#studyclixText {
    padding: 0px 60px;
    font-size: 18px;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

#studyclixPreview {
    width: 100%;
    /* filter: blur(2px);
  -webkit-filter: blur(2px); */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#nameText {
    text-align: center;
    font-size: 75px;
    color: black;
    /* color: #3b3b47; */
    padding: 0px;
}

#subtext {
    color: black;
    font-size: 23px;
    text-align: center;
}

#linkDiv {
    height: 100%;
    width: 100%;
}

#linkedin {
    /* background-color: #3b3b47; */
    padding: 15px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#github {
    /* background-color: #3b3b47; */
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#gmail {
    /* background-color: #3b3b47; */
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#textBox {
    padding: 5px 15px 5px;
}


#navBar {
    text-align: center;
}

#bigText {
    font-size: 34px;
}

#fancyBackground {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -100
}

#emailAlertBox {
    
    text-align: center;
    padding: 1.25% 0%;
    font-size: 28px;
    color: black;

}

#emailInvis {
    opacity: 0;
}

#linkedin:hover, #github:hover, #gmail:hover {
    box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#imageDiv {
    z-index: 200;
}
